/* ----------------------------------------
----- ABOUT -------------------------------
----- Portfolio 1.0 -----------------------
----- Developed by Milla Thomaz, @thomillaz
---------------------------------------- */
/* ----- SETTINGS ---------------------- */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
.container{
    background-color: #eeeeee66;
    border: 1px solid blue;
    margin: 1px 0;
    height: 500px;
}
/* ----- NAV --------------------------- */
nav{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
nav ul li,
nav ul li a{
    display: inline-block;
    margin-right: 5px;
}
#social{
    background-color: #ccc;
    height: 30px;
}
#navbar{
    position: sticky;
    top: 0;
    background-color: #eee;
    height: 50px;
}
/* ----- HEADER ------------------------ */
/* ----- SOBRE ------------------------- */
/* ----- SKILLS ------------------------ */
/* ----- PROJETOS ---------------------- */
/* ----- FOOTER ------------------------ */
#creditos{
    display: flex;
    align-items: center;
    background-color: #ccc;
    height: 50px;
    padding: 0 20px;
}
/* ----- MOBILE ------------------------ */